doctype html

html
  head
    meta(charset="utf-8")

    title Svensk Kräfta

    meta(name="description", content="Vi levererar kräftor färska kräftor fram till dörren")
    meta(name="keywords", content="Kräftor, Färska, Kvalitet, Jumbokräftor")

    link(rel="stylesheet", href="style.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="http://vjs.zencdn.net/4.0/video-js.css", rel="stylesheet")

    script(src="http://vjs.zencdn.net/4.0/video.js")

  body
    .next
    .first.visualsection
      .container
        .row.jumbotron
          .span12
            //- video(width='100%', height='auto', autoplay, poster="assets/jumbotron.jpg")
            //-   source(src='assets/webmovie.mp4', type='video/mp4')
            .jumbotron-wrapper
              video(id="jumbo-video", class="video-js vjs-default-skin", preload="auto", width="100%", height="auto", poster="assets/jumbotron-poster.jpg", data-setup='{}', controls)
                source(src="assets/jumbotron.mp4", type='video/mp4')
                //- source(src="http://video-js.zencoder.com/oceans-clip.webm", type='video/webm')
                //- source(src="http://video-js.zencoder.com/oceans-clip.ogv", type='video/ogg')
                img(src="assets/jumbotron-poster.jpg")
                
              //- button(id="mute")
              //-   | Ljud av
              //- button(id="play-pause")
              //-   | Spela

        .row
          //- .arrow-sprites
          //-   .sprite-1
          .span8
            .row
              .span4.quality
                h2 Fri leverans till hela Mälardalen

                p Vi på Svensk Kräfta vet hur stressigt det kan vara att planera festen eller kräftskivan. Därför erbjuder vi hemleverans av de finaste kräftorna från Sörmländska vatten, där kvalitet och traditionsenlig smak är av högsta prioritet.
                
                h2 Svensk kvalitet &amp; tradition

                p Oavsett om det är till privata kräftskivan, företagsbjudningen eller till butik, så leverar vi på Svensk Kräfta endast kräftor av högsta kvalitet till er dörr - ända fram till nyår!
              .span4
                h2#contact-us Kontakta oss

                p Om du vill diskutera kring våra fantastiska kräftor, prata beställning eller om du har några frågor så är du mer än välkommen att kontakta oss på Svensk Kräfta! Du kan nå oss på antingen telefon under kontorstid, eller genom epost.

                span#shake
                  h4 08-723 10 00 (mån-fre, 07:30 - 18:00)
                  h4 
                    a#order-link(href="mailto:info@svenskkrafta.se") info@svenskkrafta.se

                p
                  iframe(src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fpages%2FSvensk-Kr%C3%A4fta%2F121943464565062&send=false&layout=button_count&width=150&show_faces=false&action=recommend&colorscheme=light&font=arial&height=21', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 150px; height: 21px;', allowtransparency='true')
              .span4
                h2#contact-us Beställ kräftor online
                p
                  a.btn.btn-primary.btn-large#order(href="http://order.marob.se/request-order/start/dfg7586ghf/54y645cfy4") Till beställningen
          .span4.countdown.hidden-phone
            h2#countdown_info Säsongen börjar om

            h1#countdown
            h3#countdown_days dagar

            img(src="assets/party-3.jpg")

    .second.hidden-phone.visualsection
      .upper
        .container
          .row
            .span12.headline
              h1 När fullmånen står som högst, då fångar vi dina kräftor
      .lower
        .container
          .arrow-sprites
            .sprite-2
            .sprite-3
            //- .sprite-4
            .sprite-5
            .tape.sprite-11
            .tape.sprite-12
            .tape.sprite-13
          .row
            .span3.offset1
              h2 Efter år av letande har vi hittat det

              p Genom år av fiske har vi på Svensk Kräfta lärt oss var de finaste kräftorna gömmer sig: i Sörmlands sjöar. Det är därför vi har vårt kokeri beläget på den sörmländska landsbyggden, för att vara nära de bästa fiskevatten och kunna leverera färska kräftor direkt till er dörr.
            .span8.lake.photo
              img(src="assets/lake.jpg")
          .row
            .span8.boat.photo
              img(src="assets/boat.jpg")
            .span3
              h2 Klassiska metoder och genuin matlagningskonst

              p Vi på Svensk Kräfta tror inte på industriellt produktion och massfiske. Vi står inte för den största volymen kräftor per år, men kanske den med högst kvalité. Med klassiska metoder och en genuin matlagningstradition levererar vi endast de bästa kräftorna. Vi tror att ni - precis som vi, kommer att uppskatta smaken av äkta, klassiskt fiske.
    .third.hidden-phone.visualsection
      .upper
        .container
          .row
            .span12
              h1 Där modernitet och tradition möts i en perfekt symbios
      .lower
        .container
          .arrow-sprites
            .sprite-6
            .sprite-7
            .sprite-8
            .tape.sprite-14
            .tape.sprite-15
            .tape.sprite-16
          .row.crayfish
            .span4.offset1
              h2 Toppmodernt kokeri med gamla klassiska recept

              p Vårt toppmoderna kokeri är placerat på den sörmländska landsbygden. Närheten till de bästa fiskevattnen ger er tillställning garanterat färska kräftor. Vi använder oss utav klassiska recept som gått i generationer. Detta är vad vi kallar Svensk Kräfta!
            .span7.photo
                img(src="assets/crayfish-4.jpg")
          .row.truck
            .span7.photo
              img(src="assets/truck.jpg")
            .span4
              h2 Frakt i kylbil garanterar färska kräftor till dörren

              p Vi levererar era kräftor ända fram till dörren, direkt från vårt kokeri. Detta garanterar er de bästa och färskaste kräftorna ni kan få tag på. Leverans ingår i hela stockholmsområdet vid beställning av minst 5 kg kräftor.
    .fourth.hidden-phone.visualsection
      .upper
        .container
          .row
            .span12
              h1 Svensk Kräfta har receptet på hur man får en lyckad kräftskiva
      .lower
        .container
          .arrow-sprites
            .sprite-9
            .tape.sprite-17
            .tape.sprite-18
            .tape.sprite-19
            .tape.sprite-20
            .tape.sprite-21
            .tape.sprite-22
          .row
            .span4.offset1
              h2 Bara de finaste kräftorna duger åt Svensk Kräfta

              p Bara de absolut bästa kräftorna får bli kallade Svensk Kräfta. Vi fiskar era kräftor lokalt med klassiska metoder, och kokar de med ett recept som gått i generationer. Med stor omsorg i varje led ser vi till att ni får de färskaste och smakrikaste kräftorna till er tillställning.
            .span7.photo
              img(src="assets/party-2.jpg").party
          .row.crayfish
            .span7.photo
              img(src="assets/crayfish-3.jpg")
            .span4
              h2 Smaken sitter i storleken

              p Ja, så är det faktiskt. Storleken har betydelse! Genom årtionden av fiske har vi lärt oss vilka kräftor som är de absolut bästa. Vi jobbar med en sortering av större kräftor, allt för smaken och kvaliténs skull. Därför har vi endast två storlekar på våra kräftor: större och jumbo.
          .row.thumbnails
            .span4.photo
              img(src="assets/crayfish-1.jpg").left
            .span4.photo
              img(src="assets/party-1.jpg").center
            .span4.photo
              img(src="assets/crayfish-2.jpg").right

    .fifth.visualsection
      .container
        .row
          .span4.enlighten
            h2 Förgyll din kräftskiva

            p När du bestämt dig för att beställa kräftor från Svensk Kräfta kan du göra det antingen genom att fylla i beställningsformuläret på vår ordersida eller ringa oss på <b>08-723 10 00</b>. Vid beställning av minst 5 kilo ingår fri leverans.
              
            h2 Våra kräftor

            p Vi serverar endast de största och finaste kräftorna, och har därför endast två storlekar på våra kräftor: större och jumbo.

            div.crayprice
              strong Större kräftor 

              span 16 - 21 st/kg, 349 kr/kg

              br

              strong Jumbokräftor 

              span 7 - 10 st/kg, 495 kr/kg

            h2 Nyhetsbrev

            form#mc.validate(action='http://svenskkrafta.us5.list-manage.com/subscribe/post?u=7edd44807a38ef0c1f1d4709a&id=26e7eb4235', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
              label(for='mc-email') Prenumerera på vårt nyhetsbrev för de senaste erbjudandena.
              .control-group
                .controls
                  input#mc-email.email(type='email', value='', name='EMAIL', placeholder='E-mail', required='required')
              .control-group
                .controls
                  input.btn(type='submit', value='Prenumerera', name='subscribe')
          .span8
            h2 Beställ våra kräftor online
            p För att säkerställa vår kvalité och service ser vi helst att ni beställer era kräftor senast en vecka innan leverans. Vid akut behov, kontakta oss via telefon. Givetvis kommer vi göra allt vi kan för att ni ska få en lyckad kräftskiva. Leveranser körs torsdagar - lördagar mellan 08.00 och 18.00.
            a.btn.btn-primary.btn-large#order(href="http://order.marob.se/request-order/start/dfg7586ghf/54y645cfy4") Till beställningen

    .sixth
      .container.clearfix
        div
          .left
            p Svensk Kräfta
            p info@svenskkrafta.se
            p 08-723 10 00

          img(src='assets/logo.png')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="script.js")